<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>
        <div class="encabezado">
            <!-- logo -->
            <div class="prueba_img">
                <img src="/images/logo-mercado-liebre.svg">
            </div>
            <!-- input search -->
            <div class="busqueda">
                <form action=""><input type="text" placeholder="Buscar productos, marcas y algo más..."><button><i
                            class="fas fa-search"></i></button></form>
            </div>
            <!-- mensaje -->
            <div class="compra">
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <div class="navegacion">
                <nav class="nav-mobile">
                    <ul>
                        <li><a href="/views/ofertas.html"> Ofertas</a></li>
                        <li><a href="/views/tiendas.html"> Tiendas Oficiales</a></li>
                        <li><a href="/views/vender.html"> Vender</a></li>
                        <li><a href="/views/help.html"> Ayuda</a></li>
                    </ul>
                    <ul>
                        <li><a href="/views/register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/views/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="/views/cart.html">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>

    </header>
    <main>
        <section class="formulario">
            <form action="">
                <div class="info-register">
                    <input type="text" name="" id="" placeholder="Nombre y apellido">
                    <input type="text" name="" id="" placeholder="Nombre de usuari@">
                    <input type="email" name="" id="" placeholder="E-mail">
                    <h4>Fecha de nacimiento</h4><input type="date" name="" id="">
                    <input type="text" name="" id="" placeholder="Domicilio">
                </div>
                <h4>Perfil del usuario</h4>
                <div class="perfil">
                    <label for=""><input type="radio" name="" id=""> Comprador</label>
                    <label for=""><input type="radio" name="" id=""> Vendedor</label>
                </div>
                <h4>Intereses</h4>
                <div class="interes">
                    <label for=""><input type="checkbox" name="" id="">Electro</label>
                    <label for=""><input type="checkbox" name="" id="">Moda</label>
                    <label for=""><input type="checkbox" name="" id="">Hogar</label>
                    <label for=""><input type="checkbox" name="" id="">Juguetería</label>
                    <label for=""><input type="checkbox" name="" id="">Vida sana</label>
                </div>
                <h4>Foto de usuario</h4><input type="file" name="" id="">
                <div class="password-register">
                    <input type="password" name="" id="" placeholder="Contraseña">
                    <input type="password" name="" id="" placeholder="Confirmar contraseña">
                </div>
            </form>
            <div class="btns">
                <a href="/views/home.html"><button type="submit">Enviar</button></a>
                <button type="reset">Borrar</button>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <article>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro! </p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un
                    beneficio de MercadoPuntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </article>
        </section>

        <p class="copyright">Copyright © 1999-2021 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>