.formulario-register{
    width: 100%;
    text-align: left;
}

.formulario-register h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

.formulario-register form input {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.info-register input{
    width: 100%;
}

.perfil{
    display: flex;
    justify-content: space-around;
}

.perfil label{
    display: flex;
    align-items: center;
}
.perfil input{
    margin-right: 20px;      
}
.interes{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.interes label{
    display: flex;
    align-items:center
}
.interes input{
    margin-right: 20px;      
    margin-left: 20px;
}

.password-register input{
    width: 100%;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.btns a{
    margin-right: 40px;
}